/* @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap'); */
body{
  margin:0;
  font-family: 'Teko' , sans-serif;
}
.main{
  background-color: #334756;
  width:95%;
  height:auto;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  padding:200px 10px;

}
.img-con{
  width:200px;
  height:auto;
  margin:0 auto;
}
img{
  width:100%;
}
h1{
  color:#E5DDC8;
}
.form{
  display: block;
  width:100%;
  margin:0 auto;
  text-align: center;
}
